html,
body {
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1em;
  margin-right: .5em;
  color: #5bc19d;
}

.square-container {
  position: relative;
  display: inline-block;
  width: max-content;
  /* Adjust this width as needed */
}

.square-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 20px;
  /* Adjust this size as needed */
  height: 20px;
  /* Adjust this size as needed */
  background-color: white;
  border-radius: 4px;
  z-index: -1;
}


.navbar {
  background: #1B4242;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #5bc19d;
}

.brand:hover {
  color: #5bc19d;
}



.brand-text:hover {
  color: #5bc19d !important;
}


.btn {
  background: #5bc19d;
  border: none;
  border-radius: 20px;
}

.btn:hover {
  background: white;
  color: black;
}

button.navbar-toggler.collapsed {
  background: white;
  border: none;
}

button.navbar-toggler {
  background: white;
  border: none;
}

button.navbar-toggler:hover {
  background: #5bc19d;
}