.form-h1 {
  font-size: 3em;
  font-weight: bold;
}

pre {
  color: white;
}

p {
  color: white;
}

.form {
  margin-top: 10em;
}

.form-cntr {
  width: 60em;
}

.form-btn {
  margin-top: 2em;
}

.response {
  margin-top: 5em;
  margin-bottom: 10em;
}